<!-- Insert icons for product panels into spans with class icon -->
<!-- blurring image with css, let me know if you want to upload blurred images instead -->


<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height">

    <title>DomPen</title>
    <!-- <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.6/mapbox.js'></script> -->
    <!-- <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.6/mapbox.css' rel='stylesheet' /> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
    <script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
    <script type="text/javascript">


      $(document).ready(function() {
      $(".fancybox-media").fancybox({
      openEffect: "fade",
      content: '<iframe src="https://player.vimeo.com/video/113558957?autoplay=1&title=0&byline=0&portrait=0" width="1000" height="562" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>',
      helpers : {
      overlay : {
      css : {
      'background' : 'rgba(0, 0,0, 0.95)'
      }
      }
      }
      });
      });
    </script>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
  </head>
  <body>
    <header>
      <div class="left-header left-angle">
      </div>
      <ul class="left-header">
	<li> <a class="product-link" href="#product"> PRODUCT </a> </li>
	<li> <a class="navbar-link" href="#info"> INFO </a></li>
	<li> <a class="navbar-link" href="#faq"> FAQ </a></li>
	<li> <a class="navbar-link" href="#contact"> CONTACT </a></li>
      </ul>
      
      <div class="right-header right-angle">
      </div>
      <div class="right-header"> 
	<a href="/"> <img src="images/logo.png" class="logo"></a>
      </div>
    </header>
    <div class="parallax">
      <div class="overlay">
	<section class="home parallax-layer"> 
         <a href="#"class="fancybox-media">WATCH THE FULL VIDEO<img class="play" src="images/play_icon.svg"></a>
	  <video autoplay loop poster="images/home_bg.jpg" id="bgvid">
	    <source src="video/DomPenWebsiteBackNew.mp4" type="video/mp4">
	  </video>
	</section>

  <section class="product parallax-layer"> <a name="product"></a>
    <img src="images/product-pic.png">
	</section>

	<section class="info parallax-layer"> <a name="info"></a>
	  <div class="panel-info">
	    <img class="panel-info-image" src="images/product_1.jpg">
	    <span class="desc"> 
	      <span class="icon"> <img src="images/DomPen_Icons/SteamDomPen.svg"> </span> 
	      <h2>Stealth </h2>

	    </span> 

	    <span class="full-desc">
	      <h3> Stealth </h3>
	      <p> 
		<span class="bolded">
		  100% discreet.
		</span>
	      </p>
	      <p class="long">
		Just take a few puffs and you're good to go.  It smells <i>just</i> like the flavor.  Easily avoid the taboo.
	      </p>
	    </span>
	  </div>
	  <div class="panel-info">
	    <img class="panel-info-image" src="images/product_2.jpg">
	    <span class="desc"> 
	      <span class="icon"> <img src="images/DomPen_Icons/PlusDomPen.svg"> </span> 
	      <h2> Health </h2> 
	    </span>
	    <span class="full-desc">
	      <h3> Health </h3>
	      <p> 
		<span class="bolded">
		  Vapor, instead of smoke.
		</span>
	      </p>
	      <p class="long">
		The formula uses traditional e-cigarette liquids that are commonly used in e-cigarettes worldwide.
	      </p>
	    </span>
	  </div>
	  <div class="panel-info">
	    <img class="panel-info-image" src="images/product_3.jpg">
	    <span class="desc"> 
	      <span class="icon"> <img src="images/DomPen_Icons/DropDomPen.svg"> </span> 
	      <h2>Flavor </h2>
	    </span>
	    <span class="full-desc">
	      <h3> Flavor </h3>
	      <p> 
		<span class="bolded">
		  DomPen tastes great.
		</span>
	      </p>
	      <p class="long">
		DomPen's signature all-natural berry flavor completely masks the smell of cannabis.
	      </p>
	    </span>				
	  </div>	
	</section>

	<!-- <section class="find-us parallax-layer"><a name="find-us"></a> -->
	<!--   <div id="map"></div> -->
	<!--   <div class="location-container"> -->
	<!--     <\!-- <h1> Our Locations </h1> -\-> -->
	<!--     <div class="los-angeles locations"> -->
	<!--       <\!-- <h2 class="area"> Los Angeles </h2> -\-> -->
	<!--     </div> -->
	<!--   </div> -->
	<!-- </section> -->
	
	<section class="faq parallax-layer"> 
	  <a name="faq"></a>
	  <div class="carousel responsive">
	    <div class="column">
	      <div class="panel">
		<img class="panel-image" src="images/faq_1.jpg">
		<span class="quest">  
		  <h2>What is the DomPen made of? </h2>
		</span> 

		<span class="answer">
		  <p> 
		    Three basic ingredients: propylene glycol, cannabis concentrates, and natural flavorings.
		  </p>
		</span>
	      </div>
	      <div class="panel">
		<img class="panel-image" src="images/faq_2.jpg">
		<span class="quest">  
		  <h2> Where can I find a DomPen? </h2>
		</span> 

		<span class="answer">
		  <p> 
		    Check out the Find Us section to find a collective nearest you. 
		  </p>
		</span>
	      </div>
	    </div>
	    <div class="column">
	      <div class="panel">
		<img class="panel-image" src="images/faq_3.jpg">
		<span class="quest">  
		  <h2>I don’t live in California... </h2>
		</span> 

		<span class="answer">
		  <p> 
		    Unfortunately, due to federal regulations, we are unable to mail or ship our products outside of California. 
		  </p>
		</span>
	      </div>
	      <div class="panel">
		<img class="panel-image" src="images/faq_4.jpg">
		<span class="quest">  
		  <h2> How long does a DomPen last? </h2>
		</span> 

		<span class="answer">
		  <p> 
		    300-400 puffs per DomPen. 
		  </p>
		</span>
	      </div>
	    </div>
	    <div class="column">
	      <div class="panel">
		<img class="panel-image" src="images/faq_5.jpg">
		<span class="quest">  
		  <h2>How do I use the DomPen? </h2>
		</span> 

		<span class="answer">
		  <p> 
		    There are no buttons or batteries to worry about, just take a puff from the DomPen and enjoy. 
		  </p>
		</span>
	      </div>
	      <div class="panel">
		<img class="panel-image" src="images/faq_6.jpg">
		<span class="quest">  
		  <h2> How do I get in contact with the DomPen team? </h2>
		</span> 

		<span class="answer">
		  <p> 
		    Please feel free to e-mail us at <span> <a href="mailto:info@dompen.co">info@dompen.co</a> </span>, and we’ll direct you to the right people. 
		  </p>
		</span>
	      </div>
	    </div>
	    <div class="column">
	      <div class="panel">
		<img class="panel-image" src="images/faq_7.jpg">
		<span class="quest">  
		  <h2>What is the average dose?</h2>
		</span> 

		<span class="answer">
		  <p> 
		    5-10 puffs at five seconds each.
		  </p>
		</span>
	      </div>
	      <div class="panel">
		<img class="panel-image" src="images/faq_8.jpg">
		<span class="quest">  
		  <h2> The green light is blinking, what does that mean? </h2>
		</span> 

		<span class="answer">
		  <p> 
		    Your DomPen is dead, please dispose of it wherever batteries are recycled.
		  </p>
		</span>
	      </div>
	    </div>
	    <div class="column">
	      <div class="panel">
		<img class="panel-image" src="images/faq_9.jpg">
		<span class="quest">  
		  <h2>What makes DomPen so discreet? </h2>
		</span> 

		<span class="answer">
		  <p> 
		    Our natural flavorings mask the traditional smell of cannabis, giving the pens our signature flavor!
		  </p>
		</span>
	      </div>
	      <div class="panel">
		<img class="panel-image" src="images/faq_10.jpg">
		<span class="quest">  
		  <h2> Why is the DomPen better than other vape pens?</h2>
		</span> 

		<span class="answer">
		  <p> 
		    The DomPen is the easiest and most discreet way to medicate.
		  </p>
		</span>
	      </div>
	    </div>
	    <div class="column">
	      <div class="panel">
		<img class="panel-image" src="images/faq_11.jpg">
		<span class="quest">  
		  <h2>Who is the DomPen great for? </h2>
		</span> 

		<span class="answer">
		  <p> 
		    Medical cannabis patients in California who are looking to medicate discretely and on-the-go.
		  </p>
		</span>
	      </div>
	      <div class="panel">
		<img class="panel-image" src="images/faq_12.jpg">
		<span class="quest">  
		  <h2> What kind of cannabis is used in the DomPen? </h2>
		</span> 

		<span class="answer">
		  <p> 
		    We use only the highest quality solvent-less concentrate on the market, frequently testing at 90%+ THC.
		  </p>
		</span>
	      </div>
	    </div>											
	  </div>
	</section>	
	<section class="contact parallax-layer"> <a name="contact"></a>
	  <h2> New Accounts </h2>
	  <p> Currently DomPen only works directly with wholesale collectives. If you are a collective or or delivery service and would like to carry our products, please provide your information below and we'll contact you shortly. </p>
	  <form class="signup">
	    <div class="left">
	      <input type="email" class="email" placeholder="Email">
	      <input type="email" class="confirm-email" placeholder="Confirm Email">
	      <input type="text" class="first-name" placeholder="First Name">
	      <input type="text" class="last-name" placeholder="Last Name">
	      <input type="text" class="company"  placeholder="Company">


	    </div>

	    <div class="right">


	      <input type="text" placeholder="Address" class="address">
	      <input type="text" class="city"  placeholder="City">
	      <input type="text" placeholder="State" class="state">
	      <input type="number" placeholder="Zip" class="zip">
	      <input type="tel" class="phone" placeholder="Phone">	
	    </div>
	    <div class="cleared">    
	      <textarea placeholder="Comment" class="comment"></textarea>
	    </div>	
	    <input class="s-submit" type="submit" value="SEND">
	  </form>
	</section>
	<section class="more-info parallax-layer"> <a name="more-info"></a>
	  <h2> Other Inquiries / General Information <span> <a href="mailto:info@dompen.co">info@dompen.co</a> </span> </h2>

	  <p>
	    DomPen is a California based not-for-profit collective. We make only the highest quality medical vaporizer pens for patients, lab testing every batch to ensure consistent THC potency. We hope you enjoy our pens as much as we love making them.
	  </p>
	  <p>
	    DomPen - Stealth. Health. Flavor.
	  </p>
	  <div class="social">
	    <a href="#"><img src="images/logo.png" class="logo"></a>
	    <a href="https://instagram.com/dompenvape/"><img src="images/insta.svg"></a>
	    <a href="twitter.com/dompenvape"><img src="images/twitter.svg"></a>
	    <p> Website by <span> Pam Assogba, Jake Catt</span> </p>
	  </div>	
	</section>
      </div>
    </div>


    <script type="text/javascript" src="slick/slick.min.js"></script>
    <script src="script/locations.js"></script>
    <script src="script/script.js"></script>
  </body>
</html>
