<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>DOMPEN</title>
    <link rel="stylesheet" type="text/css" href="verify_style.css">
    
  </head>
  <body>

    <div class="box">
      
      <p>Are you 18 or older?</p>
      <div class="buttons">
	<a class="btn green yes" type="button">Yes</a>
	<a href="https://en.wikipedia.org/wiki/One_Direction" class="btn red no">No</a>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
	<script src="./script/verify.js"></script>
      </div>
    </div>
  </body>
