@import url(./reset.css);
@import url(https://fonts.googleapis.com/css?family=Comfortaa);

/*ALL*/
* {
  box-sizing: border-box; }


/*BODY, HTML ==================================*/
body, html {
  height: 100%;
  color: #fff; }

a{
  text-decoration: none;
  color: white;
}

/*SCROLLBAR ==================================*/
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1); }
body::-webkit-scrollbar {
  width: 2px;
  background: rgba(0, 0, 0, 0.8); }
body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4); }


/*EACH PAGE FULL HEIGHT ======================*/
.home, .info, .faq, .find-us, .contact, .more-info, .faq-mobile {
  height: 100%; 
}


/*HEADER ===================================*/
header{ 
  font-family: "Comfortaa", 'Avenir', sans-serif;
  font-size: 17px;
  position: absolute;
  top: 46%;
  width: 100%;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  transition: background 0.3s ease;
  z-index: 100; }

  /*ANGLES*/
  header .right-angle,
  header .left-angle {
    position: absolute;
    border-top: 60px solid rgba(0, 0, 0, 0.8); }
  
  /*?*/
  header:after {
    display: block;
    clear: both;
    content: " "; }
  
  /*LEFT HEADER*/
  header .left-angle {
    border-right: 100px solid transparent; }
  header .left-header {
    position: absolute;
    left: 0;
    width: 55%; }
    header ul.left-header {
      list-style: none;
      color: #fff;
      top: 50%;
      bottom: 0;
      display: block; }
    header ul.left-header::after {
      clear: both;
      content: "";
      display: table; }
    header ul.left-header li {
      float: left;
      margin-right: 3em; 
      margin-top: 1%}
  
  /*RIGHT HEADER*/
  header .right-angle {
    border-left: 100px solid transparent; }
  header .right-header {
    position: absolute;
    right: 0;
    width: 30%;
    text-align: center; }
    header .right-header img {
      width: 150px; 
      margin-right: -100px}

  /*DON'T DISPLAY MOBILE JONT*/
  #mobile-jont{
    display: none;
  }
  
    /*BREAK-1400*/
    @media (max-width: 1400px) {

    }

    /*BREAK-1300*/
    @media (max-width: 1300px) {

    }


    /*BREAK-1200*/
    @media (max-width: 1200px) {

    }

    /*BREAK-1100*/
    @media (max-width: 1100px) {

    }

    /*BREAK-1000*/
    @media (max-width: 1000px) {

    }

    /*BREAK-900*/
    @media (max-width: 900px) {

    }

    /*BREAK-800*/
    @media (max-width: 800px) {

    }

    /*BREAK-700*/
    @media (max-width: 700px) {

    }

    /*BREAK-600*/
    @media (max-width: 600px) {

    }

    /*BREAK-MOBILE-420*/
    @media (max-width: 420px) {

    }

    /*BREAK-MOBILE-380*/
    @media (max-width: 380px) {

    }

    /*BREAK-MOBILE-320*/
    @media (max-width: 321px) {

    }


/*HEADER FIXED ==========================*/
header.fixed{
  position: fixed;
  top: 0;
  border-top: 60px solid rgba(0, 0, 0, 0.8); }
  
  /*GET RID OF ANGLES*/
  header.fixed .right-angle, header.fixed .left-angle {
    display: none; }

  /*COMBINE LEFT AND RIGHT*/
  header.fixed .left-header {
    top: -65px; }
  header.fixed .right-header {
    top: -58px; }

    /*BREAK-1400*/
    @media (max-width: 1400px) {

    }

    /*BREAK-1300*/
    @media (max-width: 1300px) {

    }


    /*BREAK-1200*/
    @media (max-width: 1200px) {

    }

    /*BREAK-1100*/
    @media (max-width: 1100px) {

    }

    /*BREAK-1000*/
    @media (max-width: 1000px) {

    }

    /*BREAK-900*/
    @media (max-width: 900px) {

    }

    /*BREAK-800*/
    @media (max-width: 800px) {

    }

    /*BREAK-700*/
    @media (max-width: 700px) {

    }

    /*BREAK-600*/
    @media (max-width: 600px) {

    }

    /*BREAK-MOBILE-420*/
    @media (max-width: 420px) {

    }

    /*BREAK-MOBILE-380*/
    @media (max-width: 380px) {

    }

    /*BREAK-MOBILE-320*/
    @media (max-width: 321px) {

    }

/*FANCYBOX ==========================*/
.fancybox-skin {
    background: transparent;
    box-shadow: none !important;
}
.fancybox-media {
  position: absolute;
  bottom: 40px;
  right: 50px;
  text-align: right;
  width: 100%;
  margin: 0 auto;
  color: white;
  font-family: comfortaa;
  font-weight: bolder;
  font-size: 14px;
}

@media (max-width: 800px) {
  .fancybox-media{
    display: none;
    } 
}

.fancybox-media img{
    margin-bottom: -23px;
    margin-right: -20px;
    display: inline-block;
    width: 60px;
    height: 60px;
  }

.fancybox-media:hover{
  color: grey;
}

/*HOME ==========================*/
.home{
  overflow: hidden;
}
  /*BACKGROUND VIDEO*/
  #bgvid {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background: url(../images/home_bg.jpg) no-repeat; 
    background-size: cover; 
  }


    /*BREAK-1400*/
    @media (max-width: 1400px) {

    }

    /*BREAK-1300*/
    @media (max-width: 1300px) {

    }


    /*BREAK-1200*/
    @media (max-width: 1200px) {

    }

    /*BREAK-1100*/
    @media (max-width: 1100px) {

    }

    /*BREAK-1000*/
    @media (max-width: 1000px) {

    }

    /*BREAK-900*/
    @media (max-width: 900px) {

    }

    /*BREAK-800*/
    @media (max-width: 800px) {

    }

    /*BREAK-700*/
    @media (max-width: 700px) {

    }

    /*BREAK-600*/
    @media (max-width: 600px) {

    }

    /*BREAK-MOBILE-420*/
    @media (max-width: 420px) {

    }

    /*BREAK-MOBILE-380*/
    @media (max-width: 380px) {

    }

    /*BREAK-MOBILE-320*/
    @media (max-width: 321px) {

    }


/*PRODUCT ==========================*/

/*BACKGROUND GRADIENT*/
.product{
  background: -ms-radial-gradient(circle, #ffffff, #D0D0D0);
  background: -moz-radial-gradient(circle, #ffffff, #D0D0D0);
  background: -webkit-radial-gradient(circle, #ffffff, #D0D0D0);
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#ffffff), to(#D0D0D0));
  padding: 50px}

  /*PRODUCT PIC*/
  .product img {
  width: 55%;
  margin-left: 25%;}

  /*DON'T DISPLAY MOBILE PRODUCT PIC*/
  #product-mobile{
    display: none;
  }

    /*BREAK-1400*/
    @media (max-width: 1400px) {
      .product img {
        width: 60%;
        margin-left: 24%;}
    }

    /*BREAK-1200*/
    @media (max-width: 1200px) {
      .product img {
        width: 65%;
        margin-left: 22%;}
    }

    /*BREAK-1100*/
    @media (max-width: 1100px) {
      .product img {
        width: 72%;
        margin-left: 22%;}
    }

    /*BREAK-1000*/
    @media (max-width: 1000px) {
      .product img {
        width: 80%;
        margin-left: 18%;}
    }

    /*BREAK-900*/
    @media (max-width: 900px) {
      .product img {
        width: 85%;
        margin-left: 14%;}
    }

    /*BREAK-800*/
    @media (max-width: 800px) {
      .product img {
        margin-top: 5%;
        width: 90%;
        margin-left: 10%;}
    }

    /*BREAK-700*/
    @media (max-width: 700px) {
      #product-mobile{
        display: block;
        width: 83%;
        margin-top: -1%;
        margin-left: 8%;}
      .product img {
        display: none;}

    }

    /*BREAK-600*/
    @media (max-width: 600px) {
      #product-mobile{
        width: 94%;
        margin-top: -1%;
        margin-left: 1%;}
    }

    /*BREAK-500*/
    @media (max-width: 600px) {
      #product-mobile{
        display: block;
        width: 98%;
        margin-top: 3%;
        margin-left: -1%;}
    }

    /*BREAK-MOBILE-420*/
    @media (max-width: 420px) {
      #product-mobile{
        width: 100%;
        margin-top: 28%;}
    }

    /*BREAK-MOBILE-380*/
    @media (max-width: 380px) {
      #product-mobile{
        width: 97%;
        margin-left: 1%;}
    }

    /*BREAK-MOBILE-320*/
    @media (max-height: 481px) {
      #product-mobile{
        width: 100%;
        margin-top: 10%;}
    }


/*INFO ==========================*/
.info{
  width: 100%;
  text-align: center;
  font-size: 0;
  background: rgba(0, 0, 0, 0.8);}

  /*PANELS*/
  .info .panel-info {
    width: 33.33%;
    height: 100%;
    display: inline-block;
    background: #000;
    overflow: hidden;
    text-align: center;
    position: relative;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    transition: all 200ms; }
    
    /*SHORT DESCRIPTION*/
    .info .panel-info .desc {
      position: absolute;
      margin: 20px;
      font-size: 30px;
      top: 10%;
      right: 0;
      left: 0;
      opacity: 1;
      -webkit-transition: all 200ms;
      -moz-transition: all 200ms;
      transition: all 200ms; }
      .info .panel-info .desc h2 {
        text-transform: uppercase; }
      .info .panel-info .desc .icon {
        display: block; 
        margin-top: 100px;
        margin: 0 auto;
        width: 300px;
        height: 300px;}

    /*FULL DESCRIPTION*/
    .info .panel-info .full-desc {
      opacity: 0;
      top: 20%;
      font-size: 20px;
      padding: 40px;
      position: absolute;
      right: 0;
      left: 0;
      -webkit-transition: opacity 200ms;
      -moz-transition: opacity 200ms;
      transition: opacity 200ms; }
      .info .panel-info .full-desc h3 {
        text-transform: uppercase;
        color: #8FD74B;
        font-size: 40px; }
      .info .panel-info .full-desc .bolded {
        font-weight: bolder; }
      .info .panel-info .full-desc p {
        font-size: 20px;
        font-weight: lighter; }
    
    /*PANEL BACKGROUND IMAGE*/
    .info .panel-info .panel-info-image {
      position: absolute;
      z-index: 0;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      -webkit-transition: all 900ms;
      -moz-transition: all 900ms;
      transition: all 900ms; }
    
    /*HOVER*/
    .info .panel-info:hover .panel-info-image {
      -webkit-filter: blur(15px);
      filter: blur(15px);
      -webkit-transition: opacity ease-in 200ms;
      -moz-transition: opacity ease-in 200ms;
      transition: opacity ease-in 200ms; }
    .info .panel-info:hover .full-desc {
      opacity: 1; }
    .info .panel-info:hover .desc {
      opacity: 0; }

    /*BREAK-1000*/
    @media (max-width: 1000px) {
      .info .panel-info .desc .icon {
        margin:-3%;
    }

    /*BREAK-900*/
    @media (max-width: 900px) {
      .info .panel-info .desc .icon {
        margin:-9%;
        margin-top: 12%;}
    }

    /*BREAK-800*/
    @media (max-width: 800px) {
      .info .panel-info .desc .icon {
        margin:-18%;
        margin-top: 12%;}
      .long {
        display: none; }
      .info .panel-info .full-desc h3 {
          margin-top: 50%}
    }

    /*BREAK-750*/
    @media (max-width: 800px) {
      .info .panel-info .desc .icon {
        margin:-23%;
        margin-top: 13%;}
    }

    /*BREAK-700*/
    @media (max-width: 700px) {
      .info .panel-info {
        display: block;
        min-width: 100%;
        height: 33.4%;}
      .info .panel-info .desc {
        display: none; }
      .info .panel-info .full-desc {
        display: block;
        opacity: 1;
        top: 0;
        font-size: 12px;
        padding: 10px;
        position: absolute;
        right: 0;
        left: 0;
        text-align: center;
        -webkit-transition: opacity 200ms;
        -moz-transition: opacity 200ms;
        transition: opacity 200ms; }
        .info .panel-info .full-desc h3 {
          margin: auto;
          margin-top: 8%;
          text-transform: uppercase;
          color: #8FD74B;
          font-size: 30px; }
        .info .panel-info .full-desc p {
          width: 70%;
          margin: 30px auto;
          font-size: 20px;
          font-weight: lighter; }
      .info .panel-info .panel-info-image {
        width: 100%;
        margin: 0 auto; } }
    }

    /*BREAK-MOBILE-420*/
    @media (max-width: 420px) {

    }

    /*BREAK-MOBILE-380*/
    @media (max-width: 380px) {

    }

    /*BREAK-MOBILE-320*/
    @media (max-width: 321px) {
      .info .panel-info .full-desc h3 {
        margin-top: 14%}
      .info .panel-info .full-desc p {
        display: none;
      }
    }


/*FAQ ==========================*/
.faq{
  white-space: nowrap;
  vertical-align: top;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  color: #fff;
  position: relative; }

  /*ARROWS*/
  .faq .slick-prev, .faq .slick-next {
    position: absolute;
    background: none;
    border: none;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 20px; }
    .faq .slick-prev:before, .faq .slick-next:before {
      font-size: 20px;
      line-height: 1;
      font-size: 60px;
      color: #fff;
      font-weight: bolder;
      opacity: 0.4; }
  .faq .slick-prev {
    left: 0; }
    .faq .slick-prev:before {
      content: "<"; }
  .faq .slick-next {
    right: 0; }
    .faq .slick-next:before {
      content: ">"; }

  /*COLUMN*/
  .faq .column {
    position: relative;
    height: 100%;
    display: inline-block;
    width: 500px; }
    .faq .column::after {
      clear: both;
      content: "";
      display: table; }

  /*PANEL*/
  .faq .panel {
    width: 100%;
    display: block;
    background: #000;
    position: relative;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    transition: all 200ms; }

    /*PANEL HOVER*/
    .faq .panel:hover .panel-image {
      -webkit-filter: blur(3px);
      filter: blur(3px);
      -webkit-transition: opacity ease-in 200ms;
      -moz-transition: opacity ease-in 200ms;
      transition: opacity ease-in 200ms; }
    .faq .panel:hover .answer {
      opacity: 1; }
    .faq .panel:hover .quest {
      opacity: 0; }

    /*QUESTIONS*/
    .faq .panel .quest {
      position: absolute;
      font-size: 20px;
      text-align: center;
      top: 15px;
      padding: 40px;
      right: 0;
      left: 0;
      -webkit-transition: all 200ms;
      -moz-transition: all 200ms;
      transition: all 200ms; }

    /*ANSWERS*/
    .faq .panel .answer {
      opacity: 0;
      top: 20px;
      bottom: 0;
      font-size: 20px;
      padding: 40px;
      position: absolute;
      right: 0;
      left: 0;
      -webkit-transition: opacity 200ms;
      -moz-transition: opacity 200ms;
      transition: opacity 200ms; }
      .faq .panel .answer p {
        font-size: 19px;
        font-weight: lighter; 
        text-align: center;
        }

    /*BACKGROUND IMAGES*/
    .faq .panel .panel-image {
      position: absolute;
      display: block;
      z-index: 0;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      -webkit-transition: all 900ms;
      -moz-transition: all 900ms;
      transition: all 900ms; }
    .faq .panel h2,
    .faq .panel p {
      padding: 30px;
      word-wrap: break-word;
      white-space: normal;
      line-height: 1; }


/*CONTACT ==========================*/
.contact{
  padding: 50px;
  background: url("../images/contact_bg.jpg") no-repeat;
  background-size: cover;}
  .contact h2{
    margin-top: -10;
  }
  
  /* BROWSERS */ }
  .contact ::-webkit-input-placeholder {
    font-style: italic; }
  .contact ::-moz-placeholder {
    font-style: italic; }
  .contact :-ms-input-placeholder {
    font-style: italic; }
  .contact input:-moz-placeholder {
    font-style: italic; }
  
  /*?*/
  .contact::after {
    clear: both;
    content: "";
    display: table; }


 /* .contact h2 {
    margin-top: 36px; }*/
  
  .contact form::after {
    clear: both;
    content: "";
    display: table; }
  
  /*INPUT/TEXT AREAS*/
  .contact form input, .contact form textarea {
    padding: 10px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    margin-bottom: 20px;
    border: 1px solid #fff; }
  
  /*LEFT AND RIGHT*/
  .contact form .left,
  .contact form .right {
    width: 50%; }
    .contact form .left input,
    .contact form .right input {
      width: 95%; }
  
  /*LEFT*/
  .contact form .left {
    float: left; }

  /*RIGHT*/
  .contact form .right {
    float: right;
    text-align: right; }

    /*ZIP AND STATE*/
    .contact form .right input[name="zip"],
    .contact form .right input[name="state"] {
      width: 46%;
      display: inline-block; }
    .contact form .right input[name="zip"] {
      margin-left: 2%; }

  /*MESSAGE*/
  .contact form .cleared {
    clear: both;
    width: 100%; }
    .contact form .cleared textarea {
      width: 100%;
      height: 100px; }
  
  /*SUBMIT*/
  .contact form input[type="submit"] {
    float: right;
    border: none;
    background: none;
    font-weight: bolder; }

    /*BREAK-HEIGHT*/
    @media (max-height: 700) {
      }
      .contact h2 {
        padding-top: 0px;}
    }

    /*BREAK-800*/
    @media (max-width: 850px) {
      .contact{
        display: none;
      }
    }


/*MORE INFO ==========================*/
.more-info{
  padding: 50px;
  background: url(../images/more-info_bg.jpg) no-repeat;
  background-size: cover; }
  .more-info span {
    color: #8FD74B;
    font-weight: lighter; }
  .more-info h2 span {
    display: block; }
  .more-info p {
    width: 70%;
    font-size: 25px;
    line-height: 1.5;
    font-style: italic;
    font-weight: lighter; }

  /*SOCIAL MEDIA ICONS*/
  .more-info .social .logo {
    width: 200px;
    display: block; }
  .more-info .social img {
    width: 60px; }

    /*BREAK-900*/
    @media (max-width: 1000px) {
    .more-info {
      padding-top: 100px; }
      .more-info h2 {
        text-align: center;
        font-size: 32px; }
      .more-info p {
        margin-left: 15%;
        text-align: center;
        font-size: 18px; } 
      .social a img{
        margin: 0 auto;
      }
      .social a{
        display: none;
      }
    }

    /*BREAK-MOBILE-420*/
    @media (max-width: 420px) {
      .more-info {
        padding-top: 40px; }
    }

    /*BREAK-MOBILE-380*/
    @media (max-width: 380px) {

    }

    /*BREAK-MOBILE-320*/
    @media (max-width: 321px) {

    }